* { color:rgb(2, 2, 49); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul { list-style-type: none; overflow: hidden; float: none;
}
li { display: inline; padding: 10px; background-color: blueviolet; 
}
body { background-color:lightcyan;
}
.header {background-color:darkslateblue;text-align: center;
    text-decoration-line: underline; height: 150px; position:fixed; width: 100%; 
}
.footer {background-color:darkslateblue;text-align: center;
    text-decoration-line: underline; height: 100px;
}
#hey {color:crimson;}

#footer { color: white; font-size: larger;
}

